body {
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #000;
}

#git {
  position: absolute;
  bottom: 7px;
  left: 10px;
}

#sig {
  position: absolute;
  bottom: 7px;
  right: 8px;
}

#toolbar {
  width: 100%;
  top: 0;
  padding: 15px;
  visibility: hidden;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

#title {
  display: inline-block;
  font-size: 2em;
  float: left;
  margin-right: 20px;
}

button {
  border: 1px solid #ccc;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #FFF;
  transition: background 0.2s ease-in-out;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-easein-out;
  -ms-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  margin-right: 5px;
}

button:hover {
  background-color: #eee;
}

button.active {
  background-color: #aaa;
}

.color-button {
  font-variant: small-caps;
  margin-right: 5px;
}

.load-screen {
  position: fixed;
  top: 40%;
  left: 50%;
  width: 500px;
  margin: 0 0 0 -250px;
  font-size: 2em;
}

.fileContainer {
  position: absolute;
  background: #CCC;
  border-radius: .5em;
  width: 100%;
  padding: 70px 0;
  text-align: center;
  margin: -90px 0;
}

.fileContainer:hover {
  background-color: #ddd;
}

.fileContainer [type=file] {
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  cursor: pointer;
}

#demo {
  position: relative;
  top: 125px;
  text-align: center;
}
#demo-text {
  font-size: 0.7em;
}

.demo-button {
  padding: 14px;
}

#filter-select-wrapper {
  display: inline-block;
  margin: 0 15px 0 0;
  vertical-align: top;
}

.tt-input,
.tt-hint {
  width:300px;
  height:40px;
  font-size: 16px;
  text-indent: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.tt-dropdown-menu {
  min-width:300px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #FFF;
  max-height: 50vh;
  overflow-y: auto;
}

.tt-hint {
  color: #ccc;
}

.tt-suggestion {
  line-height: 3px;
  padding: 1px 10px;
}

.tt-suggestion.tt-cursor {
  cursor: pointer;
  background-color: #eee;
}

.filter-header {
  display:inline-block;
  cursor: default;
  color: #ccc;
  font-weight: normal;
  margin: 10px 0 0 0;
  padding: 0 5px 0 5px;

}
/*
.tt-suggestion-filter {
  color: #ccc;
}
*/

#filter-select-buttons {
  margin-top: 5px;
}

#modifiers {
  display: inline-block;
  font-variant: small-caps;
  vertical-align: top;
}

.button-arrow {
  position: absolute;
  right: 7px;
  top: 12px;
}

.modifier-wrapper {
  display: inline-block;
  vertical-align: top;
}
.modifier-button {
  position: relative;
  height: 40px;
  width: 140px;
}
.modifier-hint {
  font-variant: small-caps;
}
.modifier-menu {
  display:none;
  position:absolute;
  width: 140px;
  border-radius: 5px;
  border: 1px solid #ccc;
  z-index: 10;
  background-color: rgba(255,255,255,0.9);
}
.modifier-option {
  text-align: center;
  height: 30px;
  transition: background 0.2s ease-in-out;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-easein-out;
  -ms-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
}
.modifier-option:hover {
  background-color: #eee;
  cursor: pointer;
}

.marker {
  font-size: 3em;
}

.split-labels {
  fill: #999;
  font-size: 1.8em;
  z-index: -1;
  text-anchor: middle;
}

.selector {
  width: 100%;
}

#school-select-wrapper {
  margin: 20px 0 20px 0;
}

#node_tooltip {
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  color: #FFF;
  background-color: #222;
  opacity: .9;
}

.tooltip-name {
  text-align: center;
  margin-bottom: 5px;
}

#color-legend {
  position:absolute;
}



.arizona_cardinals {
  fill: #870619;
  stroke: #000000;
}
.atlanta_falcons {
  fill: #BD0D18;
  stroke: #000000;
}
.baltimore_ravens {
  fill: #280353;
  stroke: #000000;
}
.buffalo_bills {
  fill: #00338D;
  stroke: #C60630;
}
.carolina_panthers {
  fill: #000000;
  stroke: #0088CE;
}
.chicago_bears {
  fill: #03202F;
  stroke: #DD4814;
}
.cincinnati_bengals {
  fill: #FFFFFF;
  stroke: #FB4F14;
}
.cleveland_browns {
  fill: #26201E;
  stroke: #E34912;
}
.dallas_cowboys {
  fill: #002244;
  stroke: #8C8B8A;
}
.denver_broncos {
  fill: #FB4F14;
  stroke: #002244;
}
.detroit_lions {
  fill: #006D80;
  stroke: #C5C7CF;
}
.green_bay_packers {
  fill: #213D30;
  stroke: #FFCC00;
}
.houston_texans {
  fill: #02253A;
  stroke: #B31B34;
}
.indianapolis_colts {
  fill: #FFFFFF;
  stroke: #003B7B;
}
.jacksonville_jaguars {
  fill: #D0B239;
  stroke: #007198;
}
.kansas_city_chiefs {
  fill: #B20032;
  stroke: #F2C800;
}
.miami_dolphins {
  fill: #008D97;
  stroke: #F5811F;
}
.minnesota_vikings {
  fill: #4F2682;
  stroke: #FFC52F;
}
.new_england_patriots {
  fill: #0D254C;
  stroke: #D6D6D6;
}
.new_orleans_saints {
  fill: #000000;
  stroke: #D2B887;
}
.new_york_giants {
  fill: #CA001A;
  stroke: #192F6B;
}
.new_york_jets {
  fill: #FFFFFF;
  stroke: #0C371D;
}
.oakland_raiders {
  fill: #C4C8CB;
  stroke: #000000;
}
.philadelphia_eagles {
  fill: #003B48;
  stroke: #708090;
}
.pittsburgh_steelers {
  fill: #000000;
  stroke: #F2C800;
}
.san_diego_chargers {
  fill: #5B92E5;
  stroke: #EEC607;
}
.san_francisco_49ers {
  fill: #AF1E2C;
  stroke: #E6BE8A;
}
.seattle_seahawks {
  fill: #4EAE47;
  stroke: #06192E;
}
.st_louis_rams {
  fill: #C9AF74;
  stroke: #13264B;
}
.tampa_bay_buccaneers {
  fill: #D60A0B;
  stroke: #FF7A00;
}
.tennessee_titans {
  fill: #648FCC;
  stroke: #000080;
}
.washington_redskins {
  fill: #773141;
  stroke: #FFB612;
}
