body {
}

#vis {
  width: 940px;
  margin: 0 auto;
}

#nfl_tooltip {
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  color: #FFF;
  background-color: #222;
  opacity: .9;
}

.houston_texans {
  fill: #02253A;
  stroke: #B31B34;
}

.new_orleans_saints {
  stroke: #000000;
  fill: #D2B887;
}

.kansas_city_chiefs {
  stroke: #F2C800;
  fill: #B20032;
}
